################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Analyser.ForceSetProperties/bin/Debug/net8.0
/Analyser.ForceSetProperties/obj
/Example/obj
/.vs
/Analyser.ForceSetProperties/bin
/Analyser.ForceSetProperties.Tests/bin/Debug/net8.0
/Analyser.ForceSetProperties.Tests/obj
